<h1>Your Cart</h1>

<%= form_for @order, url: checkout_path, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <table class="table">
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    <%= f.fields_for :line_items do |li| %>
      <% line_item = li.object %>
      <%= li.hidden_field :product_id %>
      <tr>
        <td><%= line_item.product.name %></td>
        <td><%= li.text_field :quantity %></td>
        <td><%= number_to_currency line_item.product.price %></td>
        <td><%= number_to_currency line_item.total_price %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">
      </td>
      <td><%= number_to_currency @order.total_price %></td>
    </tr>
  </table>

  <%= f.fields_for :credit_card do |cc| %>
    <div class="form-group">
      <%= cc.label :cardholder_name, 'Cardholder Name', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= cc.text_field :cardholder_name, class: 'form-control' %>
      </div>
      <div class="col-sm-8"></div>
    </div>

    <div class="form-group">
      <%= cc.label :card_number, 'Card Number', class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= cc.text_field :card_number, size: 16, maxlength: 16, class: 'form-control' %>
      </div>
      <div class="col-sm-8"></div>
    </div>

    <div class="form-group">
      <%= cc.label :expiration_month, 'Expiration Month', class: 'col-sm-2 control-label' %>
      <div class="col-sm-1">
        <%= cc.text_field :expiration_month, size: 2, maxlength: 2, class: 'form-control' %>
      </div>
      <div class="col-sm-9"></div>
    </div>

    <div class="form-group">
      <%= cc.label :expiration_year, 'Expiration Year', class: 'col-sm-2 control-label' %>
      <div class="col-sm-1">
        <%= cc.text_field :expiration_month, size: 4, maxlength: 4, class: 'form-control' %>
      </div>
      <div class="col-sm-9"></div>
    </div>
  <% end %>

  <div class="col-sm-12">
    <%= submit_tag "Submit Order", class: 'btn btn-success' %>
  </div>
<% end %>
