<div class="row">
  <%= form_for(@subscription, html: { role: 'form', class: 'col-md-4' } ) do |f| %>
    <% if @subscription.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

        <ul>
        <% @subscription.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email, "Find out when we go live:" %>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Enter Your Email Address' %>
      <%= f.submit "Sign Up", class: 'btn btn-default' %>
    </div>
  <% end %>
</div>